@import "../mapping";


  .iconbutton{
    width: 16px;
    height: 16px;
    background-color: var(--iconbutton-color);

    &.right{
      position: absolute;
      right: 4px;
      top: 4px;
    }

    &.left{
      position: absolute;
      left: 4px;
      top: 0;
    }

    &.edit{
      background-color: transparent;
        background-image: url("../../_img/icons/line/edit.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 16px 16px;
        opacity: 0.5;
    }

    &:hover{
        opacity: 1;
        cursor: pointer;
    }

  }

  .content{
      &.withbuttons{
        bottom: 35px;
        border-bottom: 1px solid $panel-border-dark;
        overflow: auto;
      }
  }

  .buttons{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    padding: 4px 8px;

    &.bottom{
      top: auto;
      bottom: 0;
      height: 35px;
      border-top: 1px solid $panel-border-light;
      text-align: right;
    }

  }

  input[type="text"],
  input[type="password"]{
    padding: 2px 4px;
    border: 1px solid var(--input-border);
    background-color: $input-background;
    line-height: 14px;
    height: 22px;
    color: $input-text-color;

    &:focus{
      outline: none;
    }
  }

  select{
    padding: 2px;
    border: 1px solid var(--input-border);
    background-color: $input-background;
    color: var(--input-text-color);
  }

  .cel{
    padding: 2px 4px;
    display: inline-block;
    font-size: 12px;

    &.label{
      background-color: var(--cell-label-background);
      text-align: right;
      color: var(--cell-label-color);
      width: 100px;
    }

    .value{

    }
  }


.full{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.capitalize{
  text-transform: capitalize;
}

.uppercase{
  text-transform: uppercase;
}

.overflow{
  overflow: auto;
}
.nooverflow{
  overflow: hidden;
}

.hidden{
    display: none;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.flex{
    display: flex;
}

.centered{
  text-align: center;
}


