.topbar{
  position: absolute;
  z-index: 100;
  background-color: #ECECEC;
  height: 20px;
  left: 0;
  right: 0;
  top: 0;

  .homebutton{
    user-select: none;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    width: 130px;
    padding: 0 10px;
    font-size: 12px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;

    small{
      opacity: 0.6;
      font-size: 9px;
      margin-left: 5px;
    }

    &:hover{
      background-color: white;
    }
  }
  
  .messageContainer{
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    font-size: 12px;
    padding: 0 10px;
    display: flex;
    align-items: center;
  }

  .menu{
    position: absolute;
    top:0;
    left: 130px;
  }

  .menuitem{
    user-select: none;
    display: inline-block;

    &.divider{
      pointer-events: none;
      height: 2px;
      margin: 2px 0;
      border-top: 1px solid rgba(0, 0, 0, 0.12);
    }

    &.disabled{
      pointer-events: none;
      opacity: 0.5;
      position: relative;
    }

    label{
      display: block;
      padding: 0 10px;
      font-size: 12px;
      line-height: 20px;

      &:hover{
        background-color: white;
        cursor: pointer;
      }
    }


    .submenu{
      display: none;
      position: absolute;
      background-color: white;
      border: 1px solid silver;
      white-space: nowrap;

      .menuitem{
        display: block;
      }

      &.active{
        display: block;
      }
    }
  }
}