.topbar{
  position: absolute;
  z-index: 100;
  background-color: var(--menu-background);
  height: 20px;
  left: 0;
  right: 0;
  top: 0;

  .homebutton{
    user-select: none;
    -webkit-user-select: none;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    width: 130px;
    padding: 0 10px;
    font-size: 12px;
    border-right: 1px solid var(--menu-border-contrast);
    display: flex;
    align-items: center;

    small{
      opacity: 0.6;
      font-size: 9px;
      margin-left: 5px;
    }

    &:hover{
      background-color: var(--menu-hover-background);
    }
  }
  
  .messageContainer{
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    font-size: 12px;
    padding: 0 10px;
    display: flex;
    align-items: center;
  }

  .menu{
    position: absolute;
    top:0;
    left: 130px;
  }

  .menuitem{
    user-select: none;
    -webkit-user-select: none;
    display: inline-block;

    &.divider{
      pointer-events: none;
      height: 2px;
      margin: 2px 0;
      border-top: 1px solid var(--menu-divider);
    }

    &.disabled{
      pointer-events: none;
      opacity: 0.5;
      position: relative;
    }

    label{
      display: block;
      padding: 0 10px;
      font-size: 12px;
      line-height: 20px;

      &:hover{
        background-color: var(--menu-hover-background);
        cursor: pointer;
      }
    }


    .submenu{
      display: none;
      position: absolute;
      background-color: var(--menu-background);
      border: 1px solid var(--menu-submenu-border);
      white-space: nowrap;

      .menuitem{
        display: block;
        min-width: 80px;

        &.hassubmenu{
          position: relative;
          &:after{
            content: "▶";
            font-size: 8px;
            position: absolute;
            right: 5px;
            top: 8px;
            opacity: 0.5;
          }
        }

      }

      &.active{
        display: block;
      }

      .submenu{
        transform: translateY(-16px);
        z-index: 1;
        margin-left: 50px;
      }
    }
  }
}