$panel-background: var(--panel-background);
$panel-text-color: var(--panel-text-color);
$panel-text-color-highlight: var(--panel-text-color-highlight);
$button-background: var(--button-background);
$button-text-color: var(--button-text-color);
$button-background-highlight: var(--button-background-highlight);
$button-background-highlight-transparent: var(--button-background-highlight-transparent);
$panel-border-dark: var(--panel-border-dark);
$panel-border-light: var(--panel-border-light);
$input-background: var(--input-background);
$input-text-color: var(--input-text-color);