.popupmenu{
  position: absolute;
  border: 1px solid var(--popup-border);
  box-shadow: var(--popup-shadow);
  background-color: var(--menu-background);
  z-index: 100;

  .menuitem{
    user-select: none;
    -webkit-user-select: none;
    display: block;

    &.divider{
      pointer-events: none;
      height: 2px;
      margin: 2px 0;
      border-top: 1px solid var(--menu-divider);
    }

    &.disabled{
      pointer-events: none;
      opacity: 0.5;
      position: relative;
    }

    label{
      display: block;
      padding: 2px 20px 2px 10px;
      font-size: 12px;
      line-height: 20px;
      border-bottom: 1px solid var(--popup-item-border);
      text-transform: capitalize;

      &:hover{
        background-color: var(--menu-hover-background);
        cursor: pointer;
      }
    }

    &:last-child{
      label{
        border-bottom: none;
      }
    }

    &.hassubmenu{
      position: relative;
      &:after{
        content: "▶";
        font-size: 8px;
        position: absolute;
        right: 5px;
        top: 8px;
        opacity: 0.5;
      }
    }


    .submenu{
      display: none;
      position: absolute;
      background-color: var(--menu-background);
      border: 1px solid var(--menu-submenu-border);
      white-space: nowrap;


      transform: translateY(-16px);
      z-index: 1;
      margin-left: 50px;

      .menuitem{
        display: block;
      }

      &.hassubmenu{
        position: relative;
        &:after{
          content: "▶";
          font-size: 8px;
          position: absolute;
          right: 5px;
          top: 8px;
          opacity: 0.5;
        }
      }

      &.active{
        display: block;
      }

    }
  }
}