:root {
  --panel-background: #363F44;
  --panel-text-color: #B3B3B3;
  --panel-text-color-highlight: #eee;
  --button-background: #4c585e;
  --button-background-highlight: #586870;
  --button-text-color: #B3B3B3;
  --panel-border-dark: rgba(0, 0, 0, 0.5);
  --panel-border-light: rgba(255, 255, 255, 0.2);
  --input-background: #9aa7ab;
  --input-text-color: #000000;
}

