#desktop .window{
    z-index: 10;
    position: absolute;
    border: 2px solid var(--window-border-color);
    width: 240px;
    height: 200px;
    resize: both;
    box-shadow: var(--window-shadow);
    background-color: var(--window-background);
    user-select: none;
    -webkit-user-select: none;
    will-change: transform;

    &.borderless{
        border: none;
        box-shadow: none;
        background: none;

        .inner{
            top: 0;
            overflow: hidden;
        }

        .bar{
            display: none;
        }
    }

    .inner{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 19px;
        overflow: auto;
        transition: right 0.3s ease-in-out;

        &.droptargetactive{
            background-color: var(--window-inner-drop-background);
        }

        &::-webkit-scrollbar {
            width: 11px;
            height: 11px;
        }

        &::-webkit-scrollbar-button {
            width: 0;
            height: 0;
        }
        &::-webkit-scrollbar-thumb {
            background: var(--window-scrollbar-thumb);
            border: 1px solid var(--window-scrollbar-thumb-border);
            border-bottom-color: var(--window-scrollbar-thumb-border-contrast);
            border-right-color: var(--window-scrollbar-thumb-border-contrast);
        }
        &::-webkit-scrollbar-thumb:hover {
            background: var(--window-scrollbar-thumb-hover);
        }
        &::-webkit-scrollbar-thumb:active {
            background: var(--window-scrollbar-thumb-active);
        }
        &::-webkit-scrollbar-track {
            background: var(--window-scrollbar-track);
            border: 0;
        }
        ::-webkit-scrollbar-corner {
            background: var(--window-scrollbar-track);
        }
    }


    .bar{
        background-color: var(--window-caption-background);
        color: var(  --window-caption-color);
        padding: 2px;
        border-bottom: 1px solid var(--window-caption-border);
        position: relative;
        padding-left: 20px;
        height: 19px;
        
        .caption{
            display: inline-block;
            font-size: 12px;
            font-family: sans-serif;
            line-height: 12px;
        }

        .close{
            width: 14px;
            height: 14px;
            border: 1px solid var(--window-control-border);
            position: absolute;
            left: 1px;
            top: 1px;

            &:before{
                content: "";
                width: 4px;
                height: 4px;
                background-color: var(--window-control-dot);
                border: 1px solid var(--window-control-dot-border);
                position: absolute;
                left: 50%;
                top: 50%;
                margin: -2px 0 0 -2px;
            }

            &:hover{
                border: 1px solid var(--window-control-border-hover);
            }
        }
        
        .button{
            width: 14px;
            height: 14px;
            border: 1px solid var(--window-control-border);
            position: absolute;
            right: 1px;
            top: 1px;
            
            &.view{
                right: 18px;
            }

            &.maximize{
                /*right: 18px;*/
                box-shadow: var(--window-maximize-shadow);
            }

            &:hover{
                border: 1px solid var(--window-control-border-hover);
                cursor: pointer;

                &.maximize{
                    box-shadow: var(--window-maximize-shadow-hover);
                }
            }
        }

    }

    .sizer{
        position: absolute;
        right: -1px;
        bottom: -1px;
        width: 14px;
        height: 14px;
        border: 7px solid transparent;
        z-index: 10;

        &:before{
            position: absolute;
            right: -1px;
            bottom: -1px;
            width: 14px;
            height: 14px;
            border: 7px solid var(--window-sizer-fill);
            border-left-color: transparent;
            border-top-color: transparent;
            z-index: 10;
            content: "";
            left: -7px;
            top: -6px;
            border-bottom-color: var(--window-border-color);
            border-right-color: var(--window-border-color);
        }

        &.custom{
            &:before{
                display: none;
            }
        }


}

    &.inactive{
        .inner{
            pointer-events: none;
        }

        opacity: 0.8;

        .bar {
            background-color: var(--window-caption-background-inactive);
        }
    }

    &.inactivecontent{
        .inner{
            pointer-events: none;
        }
    }
}

body.defaultpointer #desktop .window .sizer{
    cursor: nw-resize;
}

body.defaultpointer{
    #desktop .window .bar{
        cursor: move;

        .close{
            cursor: pointer;
        }
    }
}






