$panel-background: #363F44;
$panel-border-dark: rgba(0, 0, 0, 0.5);
$panel-border-light: rgba(255, 255, 255, 0.2);

$button-background: #627075;
$button-background-highlight: #869598;

.content{
  .panel{
    background-color: $panel-background;
    border: 1px solid $panel-border-dark;
    border-left-color: $panel-border-light;
    border-top-color: $panel-border-light;

    &.light{
      background-color: #6a757b;
    }

    &.main{
      position: absolute;
      left: 200px;
      right: 0;
      top: 0;
      bottom: 0;
    }

    &.sidebar{
      position: absolute;
      left: 0;
      width: 200px;
      top: 0;
      bottom: 0;
    }
  }

  .button{
    border: 1px solid $panel-border-dark;
    background-color: $button-background;
    border-left-color: $panel-border-light;
    border-top-color: $panel-border-light;
    padding: 3px 6px;
    text-align: center;
    margin: 2px;
    font-size: 13px;

    &.big{
      padding: 6px;
    }

    &.inline{
      display: inline-block;
    }

    &:hover{
      background-color: $button-background-highlight;
      cursor: pointer;
    }
  }

  .content{
      &.withbuttons{
        bottom: 35px;
        border-bottom: 1px solid $panel-border-dark;
        overflow: auto;
      }
  }

  .buttons{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    padding: 4px 8px;

    &.bottom{
      top: auto;
      bottom: 0;
      height: 35px;
      border-top: 1px solid $panel-border-light;
      text-align: right;
    }

  }

  input[type="text"]{
    padding: 2px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    background-color: #9aa7ab;
  }

  select{
    padding: 2px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    background-color: #9aa7ab;
  }

  .cel{
    padding: 2px 4px;
    display: inline-block;
    font-size: 12px;

    &.label{
      background-color: rgba(255, 255, 255, 0.1);
      text-align: right;
      color: rgba(255, 255, 255, 0.7);
      width: 100px;
    }

    .value{

    }
  }
}

.full{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.capitalize{
  text-transform: capitalize;
}


