html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
    background-color: black;
}

body.custompointer{
    cursor: url('../_img/cursor/blank.cur'), default;
}

body.custompointer #desktop,
body.custompointer textarea{
    cursor: url('../_img/cursor/blank.cur'), default;
}