body.theme_tangerine{

  /* grid */
  $offsetLeft: -16px;
  $offsetTop: -16px;
  $gridsize:-64px;


  @function col($index) {
    @return ($gridsize*($index - 1) + $offsetLeft);
  }
  @function row($index) {
    @return ($gridsize*($index - 1) + $offsetTop);
  }
  @function grid($col,$row) {
    @return col($col) row($row);
  }


  #desktop{
    background: url("Wallpapers/boing_soft_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;

    .window{
      background: url("Patterns/bluegray_stripe_light.png");

      &.borderless{
        background: none;
      }
    }
  }

  .topbar{
    background-color: #ECECEC;
    border-bottom: 1px solid #A69E93;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    height: 25px;

    .menuitem{
      label{
        padding: 2px 10px;
      }

      .submenu{
        background-color: #ecebeb;
        margin-top: 0;
        border: 1px solid #b5c6ce;
        box-shadow: 0 0 2px rgba(57,63,66,0.4);
      }
    }

    .menu{

    }


  }


  .icon{
    .image{
      width: 48px;
      height: 48px;
      background-color: transparent;
      border-radius: 2px;

      background-image: url("icons/sheet.png");
      background-position: -16px -18px;
      background-repeat: no-repeat;

      &.drawer{ background-position: grid(1,1)}
      &.drawer.prefs{ background-position: grid(1,2)}

      &.drive{ background-position: grid(3,4)}

      &.file{ background-position: grid(11,5)}
      &.file.musicmod{ background-position: grid(13,2)}
      &.file.adf{ background-position: grid(14,2)}


      &.ram.drive{ background-position: grid(1,4)}
      &.notepad{ background-position: -16px -272px;}
      &.bassoon{ background-position: -784px -80px;}
      &.postmessage{ background-position: -784px -16px;}
      &.googledocs{ background-position: -656px -272px;}
      &.uae{ background-position: -144px -16px;}

      &.canvasicon{
        background-position: 0 0;
      }
    }


    .label{
      text-shadow: 0 0 2px black;
      padding: 0;
    }

    &.active{
      .image{
        box-shadow: none;
        background-position: -80px -16px;

        &.drawer{filter: contrast(120%) saturate(120%); background-position: grid(2,1)}
        &.drawer.prefs{ filter: contrast(150%) saturate(150%);background-position: grid(1,2)}


        &.drive{ background-position: grid(4,4)}
        &.ram.drive{ background-position: grid(2,4)}

        &.file{ background-position: grid(12,5)}
        &.file.adf{ filter: contrast(140%) saturate(140%); background-position: grid(14,2)}

        &.notepad{ background-position: -80px -272px;}
        &.bassoon{ background-position: -784px -80px;}
        &.postmessage{ background-position: -784px -16px;}
        &.googledocs{ background-position: -720px -272px;}
        &.uae{ background-position: -208px -16px;}

        &.canvasicon{
          background-position: 0 0;

          &.dual{
            background-position: -48px 0;
          }
        }


      }

      .label{
        text-shadow: 0 0 2px yellow;
      }
    }
  }


}