body.theme_tangerine {
  --panel-background: #B4BFC8;
  --panel-text-color: #36373d;
  --panel-text-color-highlight: #090909;
  --button-background: #ECECEC;
  --button-text-color: #1f3853;
  --button-background-highlight: #cfd5da;
  --button-background-highlight-transparent: rgba(255, 255, 255, 0.3);
  --panel-border-dark: rgba(0, 0, 0, 0.5);
  --panel-border-light: rgba(255, 255, 255, 0.2);
  --input-background: #e0e4e5;
  --input-text-color: #000000;
}

/*grid*/
body.theme_tangerine #desktop {
  background: url("Wallpapers/boing_soft_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
}
body.theme_tangerine #desktop .window {
  background: url("Patterns/fade.jpg");
  background-size: 100% 100%;
}
body.theme_tangerine #desktop .window.borderless {
  background: none;
}
body.theme_tangerine .toolbar .button.tool.light {
  filter: invert(100%);
}
body.theme_tangerine .topbar {
  background-color: #ECECEC;
  border-bottom: 1px solid #A69E93;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  height: 25px;
}
body.theme_tangerine .topbar .menuitem label {
  padding: 2px 10px;
}
body.theme_tangerine .topbar .menuitem .submenu {
  background-color: #ecebeb;
  margin-top: 0;
  border: 1px solid #b5c6ce;
  box-shadow: 0 0 2px rgba(57, 63, 66, 0.4);
}
body.theme_tangerine .icon .glyph {
  width: 48px;
  height: 48px;
  background-color: transparent;
  border-radius: 2px;
  background-image: url("icons/sheet.png");
  background-position: -16px -18px;
  background-repeat: no-repeat;
}
body.theme_tangerine .icon .glyph.drawer {
  background-position: -16px -16px;
}
body.theme_tangerine .icon .glyph.drawer.prefs {
  background-position: -16px -80px;
}
body.theme_tangerine .icon .glyph.drive {
  background-position: -144px -208px;
}
body.theme_tangerine .icon .glyph.file {
  background-position: -656px -272px;
}
body.theme_tangerine .icon .glyph.file.musicmod {
  background-position: -784px -80px;
}
body.theme_tangerine .icon .glyph.file.adf {
  background-position: -848px -80px;
}
body.theme_tangerine .icon .glyph.ram.drive {
  background-position: -16px -208px;
}
body.theme_tangerine .icon .glyph.notepad {
  background-position: -16px -272px;
}
body.theme_tangerine .icon .glyph.bassoon {
  background-position: -784px -80px;
}
body.theme_tangerine .icon .glyph.postmessage {
  background-position: -784px -16px;
}
body.theme_tangerine .icon .glyph.googledocs {
  background-position: -656px -272px;
}
body.theme_tangerine .icon .glyph.uae {
  background-position: -144px -16px;
}
body.theme_tangerine .icon .glyph.canvasicon {
  background-position: 0 0;
}
body.theme_tangerine .icon .label {
  text-shadow: 0 0 2px black;
  padding: 0;
}
body.theme_tangerine .icon.active .glyph {
  box-shadow: none;
  background-position: -80px -16px;
}
body.theme_tangerine .icon.active .glyph.drawer {
  filter: contrast(120%) saturate(120%);
  background-position: -80px -16px;
}
body.theme_tangerine .icon.active .glyph.drawer.prefs {
  filter: contrast(150%) saturate(150%);
  background-position: -16px -80px;
}
body.theme_tangerine .icon.active .glyph.drive {
  background-position: -208px -208px;
}
body.theme_tangerine .icon.active .glyph.ram.drive {
  background-position: -80px -208px;
}
body.theme_tangerine .icon.active .glyph.file {
  background-position: -720px -272px;
}
body.theme_tangerine .icon.active .glyph.file.adf {
  filter: contrast(140%) saturate(140%);
  background-position: -848px -80px;
}
body.theme_tangerine .icon.active .glyph.notepad {
  background-position: -80px -272px;
}
body.theme_tangerine .icon.active .glyph.bassoon {
  background-position: -784px -80px;
}
body.theme_tangerine .icon.active .glyph.postmessage {
  background-position: -784px -16px;
}
body.theme_tangerine .icon.active .glyph.googledocs {
  background-position: -720px -272px;
}
body.theme_tangerine .icon.active .glyph.uae {
  background-position: -208px -16px;
}
body.theme_tangerine .icon.active .glyph.canvasicon {
  background-position: 0 0;
}
body.theme_tangerine .icon.active .glyph.canvasicon.dual {
  background-position: -48px 0;
}
body.theme_tangerine .icon.active .label {
  text-shadow: 0 0 2px yellow;
}
body.theme_tangerine .window .icon .label {
  text-shadow: 0 0 2px white;
  color: #1c2735;
}
body.theme_tangerine .window .icon.active {
  filter: brightness(1.2);
}
body.theme_tangerine .window .icon.active .label {
  color: #000;
  text-shadow: 0 0 6px white, 0 0 2px white;
}
body.theme_tangerine .content .button.transparent:hover {
  filter: brightness(1.2) saturate(1.1) contrast(1.2);
}

/*# sourceMappingURL=theme.css.map */
