.panel{
  background-color: $panel-background;
  color: $panel-text-color;
  border: 1px solid $panel-border-dark;
  border-left-color: $panel-border-light;
  border-top-color: $panel-border-light;

  &.light{
    background-color: var(--panel-background-light);
  }

  &.transparent{
    background-color: transparent;
  }

  &.borderbottom,
  &.transparent.borderbottom{
    border-bottom: 1px solid $panel-border-dark;
  }

  &::-webkit-scrollbar {
    width: 11px;
    height: 11px;
  }

  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--window-scrollbar-thumb);
    border: 1px solid var(--window-scrollbar-thumb-border);
    border-bottom-color: var(--window-scrollbar-thumb-border-contrast);
    border-right-color: var(--window-scrollbar-thumb-border-contrast);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--window-scrollbar-thumb-hover);
  }
  &::-webkit-scrollbar-thumb:active {
    background: var(--window-scrollbar-thumb-active);
  }
  &::-webkit-scrollbar-track {
    background: var(--window-scrollbar-track);
    border: 0;
  }
  ::-webkit-scrollbar-corner {
    background: var(--window-scrollbar-track);
  }
}